/* General styles */
.paper {
    padding: 20px;
    border-radius: 20px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("paper img 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.paper.heart {
    position: relative;
    width: 150px;
    height: 150px;
    padding: 0;
    border-radius: 50%;
}

.paper.image {
    padding: 10px;
}

.paper.image p {
    font-size: 20px;
}

image {
    max-height: 150px;
    width: 100%;
    user-select: none;
}

.paper.heart::after {
    content: "";
    background-image: url("heartimg-removebg-preview.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.paper {
    position: absolute;
    background-image: url("images.jpg");
    background-position: center center;
    padding: 20px 40px;
    transform: rotate(-5deg);
    box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

p {
    font-family: "Zeyada", cursive;
    font-weight: 900;
    font-size: 16px;
    color: brown;
    opacity: 0.75;
    user-select: none;
    font: bold;
}

/* Mobile specific styles */
@media (max-width: 600px) {
    .paper {
        padding: 10px 20px;
    }

    .paper.heart {
        width: 100px;
        height: 100px;
    }

    .paper.image p {
        font-size: 16px;
    }

    image {
        max-height: 100px;
    }

    .paper.heart::after {
        background-size: 70px;
    }

    p {
        font-size: 14px;
    }
}
